root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

csharp_prefer_braces = false:suggestion
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

csharp_style_var_elsewhere = false:suggestion
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:silent

csharp_style_var_for_built_in_types = true:silent   # Использовать var для встроенных типов
csharp_style_var_when_type_is_apparent = true:silent # Использовать var, когда тип очевиден
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion

dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = suggestion
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interface_types
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = prefix_i

dotnet_naming_symbols.interface_types.applicable_kinds = interface

dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = pascal_case

dotnet_naming_rule.async_methods_must_end_with_async.severity = suggestion
dotnet_naming_rule.async_methods_must_end_with_async.symbols = async_methods
dotnet_naming_rule.async_methods_must_end_with_async.style = suffix_async

dotnet_naming_symbols.async_methods.applicable_kinds = method
dotnet_naming_symbols.async_methods.applicable_accessibilities = *
dotnet_naming_symbols.async_methods.required_modifiers = 

dotnet_naming_style.suffix_async.required_suffix = Async
dotnet_naming_style.suffix_async.capitalization = pascal_case